<h2>Bonjour! Confirmez votre Email</h2>

<p>
	Merci de confirmer votre adresse Email en cliquant sur le lien suivant:
	<br><br>
	<a href="{{ signedUrl }}">Confirmer mon Email</a>.
										    Ce lien expire dans
	{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
	Cordialement, l'Abeille Bouvillonne
</p>
