{% extends 'base.html.twig' %}

{% block title %}Modifier le Produit - Abeille Bouvillonne
{% endblock %}

{% block body %}
	<h1>Edit Products</h1>

	{{ include('products/_form.html.twig', {'button_label': 'Modifier'}) }}

	<a href="{{ path('products_index') }}" class="btn">Revenir à la liste</a>

	{{ include('products/_delete_form.html.twig') }}
{% endblock %}
