{% extends 'base.html.twig' %}

{% block title %}Nouveau Produit

{% block body %}
	<h2>Créer un nouveau Produit</h2>

	{{ include('products/_form.html.twig') }}

	<a href="{{ path('products_index') }}" class="btn">Revenir à la liste</a>
{% endblock %}
