{% extends 'base.html.twig' %}

{% block title %}Editer le profil
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Changer le profil</h1>

		{{ include('profil/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

		<a href="{{ path('profil') }}" class="btn btn-outline-warning m-1">Retour au profil</a>
	</div>
{% endblock %}
