{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe
{% endblock %}

{% block body %}
	<h1>Changer le mot de passe</h1>

	{{ include('profil/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

	<a href="{{ path('profil') }}" class="btn btn-outline-primary m-1">Retour au profil</a>
{% endblock %}
