{% extends 'base.html.twig' %}

{% block title %}Modifier la Catégorie - Miel Bouvillon
{% endblock %}

{% block body %}
	<h2>Modifier la Catégorie</h2>

	{{ include('categorys/_form.html.twig', {'button_label': 'Modifier'}) }}

	<a href="{{ path('categorys_index') }}" class="btn">Revenir à la liste</a>

	{{ include('categorys/_delete_form.html.twig') }}
{% endblock %}
