#event{
  display: flex;
  justify-content: space-around;
}

#event-img, article{
  width: 30%;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#product-img{
  height: 350px;
  margin-top: auto;
  margin-bottom: auto;
}

article{
  padding: 5% 0 5% 0;
}

p{
  margin-top: 5px;
  margin-bottom: 5px;
}

.events{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.event-card {
    width: 300px;
    background: #f5f5f5;
    border: 2px solid var(--miel);
    overflow: hidden;
    border-radius: 5px;
    padding: 25px;
    text-align: center;
    margin-top: 5px;
  }
    figure {
      margin: 0;
      padding: 0;
      overflow: hidden;
      outline: none!important;
    }
    .img-produit {
        width: 100%;
        height: 200px;
      }
  
    .title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 20px;
      color: #23211f;
      margin-bottom: 5px;
      height: 50px;
    }
  
    .desc {
      font-size: 17px;
      opacity: .8;
      margin-bottom: 3px;
    }

    .cta{
        text-align: center;
    }

    .cta::after {
        content: '';
        display: table;
        clear: both;
      }

      @media screen and (max-width:764px) {
        
        #event{
          display: block;
        }
        
        #event-img, article{
          width: 100%;
          align-items: center;
        }
        .events{
          display: block;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
    
        .event-card{
          margin-left: auto;
          margin-right: auto;
        }
    
    
      }