{% extends 'base.html.twig' %}

{% block title %}New Products
{% endblock %}

{% block body %}
	<pre>
		{{ dump(user) }}
	</pre>
	<h1>Create new Products</h1>

	{{ include('products/_form.html.twig') }}

	<a href="{{ path('myorders') }}">back to list</a>
{% endblock %}
