{% extends 'base.html.twig' %}

{% block title %}Nouveau message
	{{order.id}}
	- Abeille Bouvillonne
{% endblock %}

{% block body %}
	<h2>Nouveau message</h2>

	{{ include('message/_form.html.twig') }}

	<a href="{{ path('myorders') }}" class="btn">Revenir à la liste</a>
{% endblock %}
