{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	<h1>Un problème est survenu</h1>

	<p>Le site n'a pas pu affichée la page demandée. Vous pouvez rééssayer dans un instant. Si le problème persiste, merci de contacter le détenteur du site à l'adresse mail suivante : abeillebouvillonne@gmail.com
	</p>
{% endblock %}
