<form method="post" action="{{ path('events_delete', {'id': event.id}) }}" onsubmit="return confirm('Etes-vous sure de vouloir supprimer cet évènement?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
	<button class="btn">Supprimer</button>
</form>
